# Libraries

In [1]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from imblearn.over_sampling import SMOTE

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import sklearn

# Training Data

In [3]:
# Reading the Training Data
df = pd.read_csv("/kaggle/input/stroke-prediction-by-123-of-ai-dec-2023/stroke_train_set.csv")
df

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,Male,47.0,0,0,Yes,Private,Urban,63.98,26.8,smokes,0
1,Male,54.0,0,0,Yes,Private,Urban,86.26,35.1,formerly smoked,0
2,Female,3.0,0,0,No,children,Rural,68.34,18.0,Unknown,0
3,Female,62.0,0,0,Yes,Private,Rural,226.38,47.4,never smoked,0
4,Female,27.0,0,0,Yes,Private,Rural,85.60,21.4,Unknown,0
...,...,...,...,...,...,...,...,...,...,...,...
4083,Male,79.0,0,0,Yes,Private,Rural,69.34,29.0,never smoked,0
4084,Male,55.0,0,0,Yes,Self-employed,Rural,163.82,27.5,never smoked,0
4085,Male,33.0,0,0,Yes,Private,Urban,105.19,50.1,smokes,0
4086,Male,34.0,0,0,Yes,Private,Urban,85.57,26.8,Unknown,0
4087,Female,73.0,0,0,Yes,Self-employed,Rural,89.45,30.3,formerly smoked,0

In [4]:
df.shape[0]

4088

In [5]:
df['gender'].value_counts()

gender
Female    2396
Male      1691
Other        1
Name: count, dtype: int64

In [6]:
df['ever_married'].value_counts()

ever_married
Yes    2672
No     1416
Name: count, dtype: int64

In [7]:
df['work_type'].value_counts()

work_type
Private          2332
Self-employed     666
children          548
Govt_job          528
Never_worked       14
Name: count, dtype: int64

In [8]:
df['Residence_type'].value_counts()

Residence_type
Urban    2096
Rural    1992
Name: count, dtype: int64

In [9]:
df['smoking_status'].value_counts()

smoking_status
never smoked       1517
Unknown            1239
formerly smoked     698
smokes              634
Name: count, dtype: int64

In [10]:
# Check for NULL values
df.isnull().sum()

gender                 0
age                    0
hypertension           0
heart_disease          0
ever_married           0
work_type              0
Residence_type         0
avg_glucose_level      0
bmi                  162
smoking_status         0
stroke                 0
dtype: int64

In [11]:
# Pre-processing (Cleaning): Address missing (NULL) values - fill with mean
values = {'bmi' : df['bmi'].mean()}
df1 = df.fillna(value=values)
df1

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,Male,47.0,0,0,Yes,Private,Urban,63.98,26.8,smokes,0
1,Male,54.0,0,0,Yes,Private,Urban,86.26,35.1,formerly smoked,0
2,Female,3.0,0,0,No,children,Rural,68.34,18.0,Unknown,0
3,Female,62.0,0,0,Yes,Private,Rural,226.38,47.4,never smoked,0
4,Female,27.0,0,0,Yes,Private,Rural,85.60,21.4,Unknown,0
...,...,...,...,...,...,...,...,...,...,...,...
4083,Male,79.0,0,0,Yes,Private,Rural,69.34,29.0,never smoked,0
4084,Male,55.0,0,0,Yes,Self-employed,Rural,163.82,27.5,never smoked,0
4085,Male,33.0,0,0,Yes,Private,Urban,105.19,50.1,smokes,0
4086,Male,34.0,0,0,Yes,Private,Urban,85.57,26.8,Unknown,0
4087,Female,73.0,0,0,Yes,Self-employed,Rural,89.45,30.3,formerly smoked,0

In [12]:
df1.isnull().sum()

gender               0
age                  0
hypertension         0
heart_disease        0
ever_married         0
work_type            0
Residence_type       0
avg_glucose_level    0
bmi                  0
smoking_status       0
stroke               0
dtype: int64

In [13]:
# Pre-processing (Cleaning): Remove Duplicate Rows
df1 = pd.DataFrame(df1)

# Check for exactly duplicate rows and count them
duplicate_count = df1.duplicated().sum()

print(f"Number of exactly duplicate rows: {duplicate_count}")

Number of exactly duplicate rows: 0

In [14]:
df1

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,Male,47.0,0,0,Yes,Private,Urban,63.98,26.8,smokes,0
1,Male,54.0,0,0,Yes,Private,Urban,86.26,35.1,formerly smoked,0
2,Female,3.0,0,0,No,children,Rural,68.34,18.0,Unknown,0
3,Female,62.0,0,0,Yes,Private,Rural,226.38,47.4,never smoked,0
4,Female,27.0,0,0,Yes,Private,Rural,85.60,21.4,Unknown,0
...,...,...,...,...,...,...,...,...,...,...,...
4083,Male,79.0,0,0,Yes,Private,Rural,69.34,29.0,never smoked,0
4084,Male,55.0,0,0,Yes,Self-employed,Rural,163.82,27.5,never smoked,0
4085,Male,33.0,0,0,Yes,Private,Urban,105.19,50.1,smokes,0
4086,Male,34.0,0,0,Yes,Private,Urban,85.57,26.8,Unknown,0
4087,Female,73.0,0,0,Yes,Self-employed,Rural,89.45,30.3,formerly smoked,0

In [15]:
# Pre-processing (Encoding): Convert categorical values to numeric
# Use df['col_name'].value_counts() to find out all the categories available per column
df2 = pd.get_dummies(data = df1)
df2

,age,hypertension,heart_disease,avg_glucose_level,bmi,stroke,gender_Female,gender_Male,gender_Other,ever_married_No,...,work_type_Never_worked,work_type_Private,work_type_Self-employed,work_type_children,Residence_type_Rural,Residence_type_Urban,smoking_status_Unknown,smoking_status_formerly smoked,smoking_status_never smoked,smoking_status_smokes
0,47.0,0,0,63.98,26.8,0,False,True,False,False,...,False,True,False,False,False,True,False,False,False,True
1,54.0,0,0,86.26,35.1,0,False,True,False,False,...,False,True,False,False,False,True,False,True,False,False
2,3.0,0,0,68.34,18.0,0,True,False,False,True,...,False,False,False,True,True,False,True,False,False,False
3,62.0,0,0,226.38,47.4,0,True,False,False,False,...,False,True,False,False,True,False,False,False,True,False
4,27.0,0,0,85.60,21.4,0,True,False,False,False,...,False,True,False,False,True,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4083,79.0,0,0,69.34,29.0,0,False,True,False,False,...,False,True,False,False,True,False,False,False,True,False
4084,55.0,0,0,163.82,27.5,0,False,True,False,False,...,False,False,True,False,True,False,False,False,True,False
4085,33.0,0,0,105.19,50.1,0,False,True,False,False,...,False,True,False,False,False,True,False,False,False,True
4086,34.0,0,0,85.57,26.8,0,False,True,False,False,...,False,True,False,False,False,True,True,False,False,False
4087,73.0,0,0,89.45,30.3,0,True,False,False,False,...,False,False,True,False,True,False,False,True,False,False

In [35]:
# dataset is ready to feed in the model
columns_to_drop = ['Residence_type_Rural','Residence_type_Urban','gender_Other', 'gender_Male', 'gender_Female','ever_married_No']
df3 = df2.drop(columns=columns_to_drop)
df3

,age,hypertension,heart_disease,avg_glucose_level,bmi,stroke,ever_married_Yes,work_type_Govt_job,work_type_Never_worked,work_type_Private,work_type_Self-employed,work_type_children,smoking_status_Unknown,smoking_status_formerly smoked,smoking_status_never smoked,smoking_status_smokes
0,47.0,0,0,63.98,26.8,0,True,False,False,True,False,False,False,False,False,True
1,54.0,0,0,86.26,35.1,0,True,False,False,True,False,False,False,True,False,False
2,3.0,0,0,68.34,18.0,0,False,False,False,False,False,True,True,False,False,False
3,62.0,0,0,226.38,47.4,0,True,False,False,True,False,False,False,False,True,False
4,27.0,0,0,85.60,21.4,0,True,False,False,True,False,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4083,79.0,0,0,69.34,29.0,0,True,False,False,True,False,False,False,False,True,False
4084,55.0,0,0,163.82,27.5,0,True,False,False,False,True,False,False,False,True,False
4085,33.0,0,0,105.19,50.1,0,True,False,False,True,False,False,False,False,False,True
4086,34.0,0,0,85.57,26.8,0,True,False,False,True,False,False,True,False,False,False
4087,73.0,0,0,89.45,30.3,0,True,False,False,False,True,False,False,True,False,False

# Models

In [49]:
# Logistic Regression Method

# Separate the features (X) and the target (y)
X = df3.drop('stroke', axis=1)
y = df3['stroke']

# Standardize the features
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

# Handle class imbalance
smote = SMOTE()
X_balanced, y_balanced = smote.fit_resample(X_processed, y)

# Splitting the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X_balanced, y_balanced, test_size=0.2, random_state=42)

# Create and train the Logistic Regression model
model = LogisticRegression(random_state=42)
model.fit(X_train, y_train)

# Make predictions on the test set
y_pred = model.predict(X_test)

# Evaluate the model
accuracy = accuracy_score(y_test, y_pred)
confusion = confusion_matrix(y_test, y_pred)
classification_rep = classification_report(y_test, y_pred,zero_division='warn')

# Print the results
print(f'Accuracy: {accuracy}')
print(f'Confusion Matrix:\n{confusion}')
print(f'Classification Report:\n{classification_rep}')

Accuracy: 0.7679948586118251
Confusion Matrix:
[[587 189]
 [172 608]]
Classification Report:
              precision    recall  f1-score   support

           0       0.77      0.76      0.76       776
           1       0.76      0.78      0.77       780

    accuracy                           0.77      1556
   macro avg       0.77      0.77      0.77      1556
weighted avg       0.77      0.77      0.77      1556

In [43]:
# Decision Tree Method

from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, classification_report

# Assume df is your DataFrame
# df = pd.read_csv('your_dataset.csv')

# Splitting the data into features and target
X = df3.drop('stroke', axis=1)  # assuming 'stroke' is the target variable
y = df3['stroke']

# Splitting the dataset into the Training set and Test set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.5, random_state=0)

# Handle class imbalance
smote = SMOTE()
X_balanced, y_balanced = smote.fit_resample(X_processed, y)

# Splitting the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X_balanced, y_balanced, test_size=0.2, random_state=42)

# Decision Tree
decision_tree = DecisionTreeClassifier(random_state=0)
decision_tree.fit(X_train, y_train)
y_pred_dt = decision_tree.predict(X_test)
print("Decision Tree Classifier:")
print("Accuracy:", accuracy_score(y_test, y_pred_dt))
print(classification_report(y_test, y_pred_dt))

Decision Tree Classifier:
Accuracy: 0.8862467866323908
              precision    recall  f1-score   support

           0       0.89      0.88      0.89       776
           1       0.88      0.89      0.89       780

    accuracy                           0.89      1556
   macro avg       0.89      0.89      0.89      1556
weighted avg       0.89      0.89      0.89      1556

In [19]:
# Random Forest
X = df3.drop('stroke', axis=1)
y = df3['stroke']

# Encoding categorical variables and normalizing numerical features
categorical_cols = X.select_dtypes(include=['object', 'category']).columns
numerical_cols = X.select_dtypes(include=[np.number]).columns

# One-hot encoding for categorical variables
encoder = OneHotEncoder(sparse=False)
X_encoded = pd.DataFrame(encoder.fit_transform(X[categorical_cols]))
X_encoded.columns = encoder.get_feature_names_out(categorical_cols)

# Normalize numerical features
scaler = StandardScaler()
X_scaled = pd.DataFrame(scaler.fit_transform(X[numerical_cols]))
X_scaled.columns = numerical_cols

# Combine encoded and scaled features
X_processed = pd.concat([X_scaled, X_encoded], axis=1)

# Handle class imbalance
smote = SMOTE()
X_balanced, y_balanced = smote.fit_resample(X_processed, y)

# Splitting the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X_balanced, y_balanced, test_size=0.2, random_state=42)

# Train the Random Forest Model
rf_model = RandomForestClassifier(n_estimators=200, random_state=42)
rf_model.fit(X_train, y_train)

# Evaluate the model
y_pred = rf_model.predict(X_test)
print("Accuracy Score:", accuracy_score(y_test, y_pred))
print("Classification Report:\n", classification_report(y_test, y_pred))

/opt/conda/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

Accuracy Score: 0.9241645244215938
Classification Report:
               precision    recall  f1-score   support

           0       0.94      0.90      0.92       776
           1       0.91      0.94      0.93       780

    accuracy                           0.92      1556
   macro avg       0.92      0.92      0.92      1556
weighted avg       0.92      0.92      0.92      1556

In [42]:
#Gradient Boosting Classifier

from sklearn.ensemble import GradientBoostingClassifier
from sklearn.metrics import classification_report, accuracy_score
from imblearn.over_sampling import SMOTE

# Separate features and target
X = df3.drop('stroke', axis=1)
y = df3['stroke']

# Encoding categorical variables and normalizing numerical features
categorical_cols = X.select_dtypes(include=['object', 'category']).columns
numerical_cols = X.select_dtypes(include=[np.number]).columns

# One-hot encoding for categorical variables
encoder = OneHotEncoder(sparse=False)
X_encoded = pd.DataFrame(encoder.fit_transform(X[categorical_cols]))
X_encoded.columns = encoder.get_feature_names_out(categorical_cols)

# Normalize numerical features
scaler = StandardScaler()
X_scaled = pd.DataFrame(scaler.fit_transform(X[numerical_cols]))
X_scaled.columns = numerical_cols

# Combine encoded and scaled features
X_processed = pd.concat([X_scaled, X_encoded], axis=1)

# Handle class imbalance
smote = SMOTE()
X_balanced, y_balanced = smote.fit_resample(X_processed, y)

# Splitting the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X_balanced, y_balanced, test_size=0.2, random_state=42)

# Train the Gradient Boosting Classifier
gbm_model = GradientBoostingClassifier(random_state=42)
gbm_model.fit(X_train, y_train)

# Evaluate the model
y_pred = gbm_model.predict(X_test)
print("Classification Report:\n", classification_report(y_test, y_pred))
print("Accuracy Score:", accuracy_score(y_test, y_pred))

/opt/conda/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

Classification Report:
               precision    recall  f1-score   support

           0       0.88      0.82      0.85       776
           1       0.83      0.89      0.86       780

    accuracy                           0.85      1556
   macro avg       0.86      0.85      0.85      1556
weighted avg       0.86      0.85      0.85      1556

Accuracy Score: 0.8534704370179949

In [21]:
# Support Vector Machine

from sklearn.svm import SVC
import joblib

# Separate features and target
X = df3.drop('stroke', axis=1)
y = df3['stroke']

# Encoding categorical variables and normalizing numerical features
categorical_cols = X.select_dtypes(include=['object', 'category']).columns
numerical_cols = X.select_dtypes(include=[np.number]).columns

# One-hot encoding for categorical variables
encoder = OneHotEncoder(sparse=False)
X_encoded = pd.DataFrame(encoder.fit_transform(X[categorical_cols]))
X_encoded.columns = encoder.get_feature_names_out(categorical_cols)

# Normalize numerical features
scaler = StandardScaler()
X_scaled = pd.DataFrame(scaler.fit_transform(X[numerical_cols]))
X_scaled.columns = numerical_cols

# Combine encoded and scaled features
X_processed = pd.concat([X_scaled, X_encoded], axis=1)

# Handle class imbalance
smote = SMOTE()
X_balanced, y_balanced = smote.fit_resample(X_processed, y)

# Splitting the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X_balanced, y_balanced, test_size=0.2, random_state=42)

# Train the SVM Model
svm_model = SVC(probability=True, random_state=42)
svm_model.fit(X_train, y_train)

# Evaluate the model
y_pred = svm_model.predict(X_test)
print("Classification Report:\n", classification_report(y_test, y_pred))
print("Accuracy Score:", accuracy_score(y_test, y_pred))

/opt/conda/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

Classification Report:
               precision    recall  f1-score   support

           0       0.82      0.76      0.79       776
           1       0.78      0.83      0.81       780

    accuracy                           0.80      1556
   macro avg       0.80      0.80      0.80      1556
weighted avg       0.80      0.80      0.80      1556

Accuracy Score: 0.7975578406169666

In [22]:
# Neural Network
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import ModelCheckpoint

# Separate features and target
X = df3.drop('stroke', axis=1)
y = df3['stroke']

# Encoding categorical variables and normalizing numerical features
categorical_cols = X.select_dtypes(include=['object', 'category']).columns
numerical_cols = X.select_dtypes(include=[np.number]).columns

# One-hot encoding for categorical variables
encoder = OneHotEncoder(sparse=False)
X_encoded = pd.DataFrame(encoder.fit_transform(X[categorical_cols]))
X_encoded.columns = encoder.get_feature_names_out(categorical_cols)

# Normalize numerical features
scaler = StandardScaler()
X_scaled = pd.DataFrame(scaler.fit_transform(X[numerical_cols]))
X_scaled.columns = numerical_cols

# Combine encoded and scaled features
X_processed = pd.concat([X_scaled, X_encoded], axis=1)

# Handle class imbalance
smote = SMOTE()
X_balanced, y_balanced = smote.fit_resample(X_processed, y)

# Splitting the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X_balanced, y_balanced, test_size=0.2, random_state=42)

# Neural Network Model
model = Sequential()
model.add(Dense(64, activation='relu', input_shape=(X_train.shape[1],)))
model.add(Dense(32, activation='relu'))
model.add(Dense(1, activation='sigmoid'))

model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

# Fit the model
model.fit(X_train, y_train, epochs=100, batch_size=32, validation_split=0.2)

/opt/conda/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

Epoch 1/100
156/156 [==============================] - 2s 4ms/step - loss: 0.5221 - accuracy: 0.7598 - val_loss: 0.4772 - val_accuracy: 0.7862
Epoch 2/100
156/156 [==============================] - 0s 3ms/step - loss: 0.4722 - accuracy: 0.7775 - val_loss: 0.4670 - val_accuracy: 0.7958
Epoch 3/100
156/156 [==============================] - 0s 3ms/step - loss: 0.4646 - accuracy: 0.7811 - val_loss: 0.4593 - val_accuracy: 0.7942
Epoch 4/100
156/156 [==============================] - 0s 3ms/step - loss: 0.4607 - accuracy: 0.7846 - val_loss: 0.4540 - val_accuracy: 0.7998
Epoch 5/100
156/156 [==============================] - 0s 3ms/step - loss: 0.4556 - accuracy: 0.7848 - val_loss: 0.4505 - val_accuracy: 0.7966
Epoch 6/100
156/156 [==============================] - 0s 3ms/step - loss: 0.4524 - accuracy: 0.7876 - val_loss: 0.4460 - val_accuracy: 0.7958
Epoch 7/100
156/156 [==============================] - 0s 3ms/step - loss: 0.4498 - accuracy: 0.7884 - val_loss: 0.4422 - val_accuracy: 0.7998
Epoch 8/100
156/156 [==============================] - 0s 3ms/step - loss: 0.4473 - accuracy: 0.7890 - val_loss: 0.4411 - val_accuracy: 0.8031
Epoch 9/100
156/156 [==============================] - 0s 2ms/step - loss: 0.4433 - accuracy: 0.7902 - val_loss: 0.4394 - val_accuracy: 0.8006
Epoch 10/100
156/156 [==============================] - 0s 2ms/step - loss: 0.4404 - accuracy: 0.7928 - val_loss: 0.4347 - val_accuracy: 0.8055
Epoch 11/100
156/156 [==============================] - 0s 3ms/step - loss: 0.4387 - accuracy: 0.7930 - val_loss: 0.4305 - val_accuracy: 0.8111
Epoch 12/100
156/156 [==============================] - 0s 3ms/step - loss: 0.4338 - accuracy: 0.7958 - val_loss: 0.4286 - val_accuracy: 0.8055
Epoch 13/100
156/156 [==============================] - 0s 3ms/step - loss: 0.4317 - accuracy: 0.8010 - val_loss: 0.4253 - val_accuracy: 0.8143
Epoch 14/100
156/156 [==============================] - 0s 3ms/step - loss: 0.4284 - accuracy: 0.8023 - val_loss: 0.4239 - val_accuracy: 0.8159
Epoch 15/100
156/156 [==============================] - 0s 3ms/step - loss: 0.4252 - accuracy: 0.8029 - val_loss: 0.4214 - val_accuracy: 0.8087
Epoch 16/100
156/156 [==============================] - 0s 3ms/step - loss: 0.4223 - accuracy: 0.8031 - val_loss: 0.4194 - val_accuracy: 0.8151
Epoch 17/100
156/156 [==============================] - 0s 3ms/step - loss: 0.4191 - accuracy: 0.8055 - val_loss: 0.4179 - val_accuracy: 0.8167
Epoch 18/100
156/156 [==============================] - 0s 3ms/step - loss: 0.4161 - accuracy: 0.8077 - val_loss: 0.4136 - val_accuracy: 0.8127
Epoch 19/100
156/156 [==============================] - 0s 3ms/step - loss: 0.4136 - accuracy: 0.8085 - val_loss: 0.4083 - val_accuracy: 0.8183
Epoch 20/100
156/156 [==============================] - 0s 3ms/step - loss: 0.4111 - accuracy: 0.8115 - val_loss: 0.4065 - val_accuracy: 0.8111
Epoch 21/100
156/156 [==============================] - 0s 3ms/step - loss: 0.4084 - accuracy: 0.8109 - val_loss: 0.4083 - val_accuracy: 0.8248
Epoch 22/100
156/156 [==============================] - 0s 2ms/step - loss: 0.4053 - accuracy: 0.8121 - val_loss: 0.4020 - val_accuracy: 0.8191
Epoch 23/100
156/156 [==============================] - 0s 3ms/step - loss: 0.4027 - accuracy: 0.8133 - val_loss: 0.3986 - val_accuracy: 0.8240
Epoch 24/100
156/156 [==============================] - 0s 3ms/step - loss: 0.3986 - accuracy: 0.8147 - val_loss: 0.3993 - val_accuracy: 0.8223
Epoch 25/100
156/156 [==============================] - 0s 3ms/step - loss: 0.3975 - accuracy: 0.8171 - val_loss: 0.4032 - val_accuracy: 0.8288
Epoch 26/100
156/156 [==============================] - 0s 3ms/step - loss: 0.3968 - accuracy: 0.8157 - val_loss: 0.3936 - val_accuracy: 0.8175
Epoch 27/100
156/156 [==============================] - 0s 3ms/step - loss: 0.3937 - accuracy: 0.8129 - val_loss: 0.3935 - val_accuracy: 0.8280
Epoch 28/100
156/156 [==============================] - 0s 3ms/step - loss: 0.3915 - accuracy: 0.8177 - val_loss: 0.3925 - val_accuracy: 0.8215
Epoch 29/100
156/156 [==============================] - 0s 3ms/step - loss: 0.3909 - accuracy: 0.8197 - val_loss: 0.3889 - val_accuracy: 0.8296
Epoch 30/100
156/156 [==============================] - 0s 3ms/step - loss: 0.3879 - accuracy: 0.8203 - val_loss: 0.3903 - val_accuracy: 0.8207
Epoch 31/100
156/156 [==============================] - 0s 3ms/step - loss: 0.3876 - accuracy: 0.8199 - val_loss: 0.3858 - val_accuracy: 0.8240
Epoch 32/100
156/156 [==============================] - 0s 3ms/step - loss: 0.3848 - accuracy: 0.8197 - val_loss: 0.3875 - val_accuracy: 0.8240
Epoch 33/100
156/156 [==============================] - 0s 3ms/step - loss: 0.3832 - accuracy: 0.8236 - val_loss: 0.3870 - val_accuracy: 0.8232
Epoch 34/100
156/156 [==============================] - 0s 3ms/step - loss: 0.3826 - accuracy: 0.8225 - val_loss: 0.3871 - val_accuracy: 0.8223
Epoch 35/100
156/156 [==============================] - 0s 3ms/step - loss: 0.3811 - accuracy: 0.8238 - val_loss: 0.3839 - val_accuracy: 0.8248
Epoch 36/100
156/156 [==============================] - 0s 2ms/step - loss: 0.3783 - accuracy: 0.8225 - val_loss: 0.3826 - val_accuracy: 0.8240
Epoch 37/100
156/156 [==============================] - 0s 2ms/step - loss: 0.3783 - accuracy: 0.8238 - val_loss: 0.3857 - val_accuracy: 0.8304
Epoch 38/100
156/156 [==============================] - 0s 3ms/step - loss: 0.3770 - accuracy: 0.8246 - val_loss: 0.3815 - val_accuracy: 0.8256
Epoch 39/100
156/156 [==============================] - 0s 3ms/step - loss: 0.3740 - accuracy: 0.8258 - val_loss: 0.3801 - val_accuracy: 0.8328
Epoch 40/100
156/156 [==============================] - 0s 3ms/step - loss: 0.3737 - accuracy: 0.8213 - val_loss: 0.3785 - val_accuracy: 0.8232
Epoch 41/100
156/156 [==============================] - 0s 2ms/step - loss: 0.3720 - accuracy: 0.8276 - val_loss: 0.3809 - val_accuracy: 0.8344
Epoch 42/100
156/156 [==============================] - 0s 3ms/step - loss: 0.3714 - accuracy: 0.8272 - val_loss: 0.3920 - val_accuracy: 0.8384
Epoch 43/100
156/156 [==============================] - 0s 3ms/step - loss: 0.3705 - accuracy: 0.8246 - val_loss: 0.3792 - val_accuracy: 0.8248
Epoch 44/100
156/156 [==============================] - 0s 3ms/step - loss: 0.3693 - accuracy: 0.8266 - val_loss: 0.3845 - val_accuracy: 0.8272
Epoch 45/100
156/156 [==============================] - 0s 3ms/step - loss: 0.3683 - accuracy: 0.8310 - val_loss: 0.3754 - val_accuracy: 0.8223
Epoch 46/100
156/156 [==============================] - 0s 3ms/step - loss: 0.3663 - accuracy: 0.8304 - val_loss: 0.3787 - val_accuracy: 0.8288
Epoch 47/100
156/156 [==============================] - 0s 3ms/step - loss: 0.3663 - accuracy: 0.8284 - val_loss: 0.3700 - val_accuracy: 0.8352
Epoch 48/100
156/156 [==============================] - 0s 3ms/step - loss: 0.3642 - accuracy: 0.8318 - val_loss: 0.3800 - val_accuracy: 0.8441
Epoch 49/100
156/156 [==============================] - 0s 3ms/step - loss: 0.3650 - accuracy: 0.8280 - val_loss: 0.3723 - val_accuracy: 0.8223
Epoch 50/100
156/156 [==============================] - 0s 3ms/step - loss: 0.3608 - accuracy: 0.8300 - val_loss: 0.3806 - val_accuracy: 0.8272
Epoch 51/100
156/156 [==============================] - 0s 2ms/step - loss: 0.3623 - accuracy: 0.8348 - val_loss: 0.3749 - val_accuracy: 0.8288
Epoch 52/100
156/156 [==============================] - 0s 2ms/step - loss: 0.3612 - accuracy: 0.8322 - val_loss: 0.3782 - val_accuracy: 0.8320
Epoch 53/100
156/156 [==============================] - 0s 3ms/step - loss: 0.3603 - accuracy: 0.8342 - val_loss: 0.3693 - val_accuracy: 0.8280
Epoch 54/100
156/156 [==============================] - 0s 3ms/step - loss: 0.3577 - accuracy: 0.8316 - val_loss: 0.3815 - val_accuracy: 0.8320
Epoch 55/100
156/156 [==============================] - 0s 2ms/step - loss: 0.3599 - accuracy: 0.8324 - val_loss: 0.3720 - val_accuracy: 0.8400
Epoch 56/100
156/156 [==============================] - 0s 2ms/step - loss: 0.3557 - accuracy: 0.8344 - val_loss: 0.3724 - val_accuracy: 0.8384
Epoch 57/100
156/156 [==============================] - 0s 2ms/step - loss: 0.3566 - accuracy: 0.8360 - val_loss: 0.3720 - val_accuracy: 0.8368
Epoch 58/100
156/156 [==============================] - 0s 2ms/step - loss: 0.3552 - accuracy: 0.8406 - val_loss: 0.3741 - val_accuracy: 0.8376
Epoch 59/100
156/156 [==============================] - 1s 3ms/step - loss: 0.3530 - accuracy: 0.8368 - val_loss: 0.3673 - val_accuracy: 0.8280
Epoch 60/100
156/156 [==============================] - 0s 3ms/step - loss: 0.3510 - accuracy: 0.8366 - val_loss: 0.3616 - val_accuracy: 0.8424
Epoch 61/100
156/156 [==============================] - 0s 3ms/step - loss: 0.3508 - accuracy: 0.8398 - val_loss: 0.3686 - val_accuracy: 0.8441
Epoch 62/100
156/156 [==============================] - 0s 3ms/step - loss: 0.3510 - accuracy: 0.8386 - val_loss: 0.3605 - val_accuracy: 0.8344
Epoch 63/100
156/156 [==============================] - 0s 3ms/step - loss: 0.3504 - accuracy: 0.8392 - val_loss: 0.3649 - val_accuracy: 0.8336
Epoch 64/100
156/156 [==============================] - 0s 2ms/step - loss: 0.3490 - accuracy: 0.8386 - val_loss: 0.3595 - val_accuracy: 0.8352
Epoch 65/100
156/156 [==============================] - 0s 2ms/step - loss: 0.3475 - accuracy: 0.8402 - val_loss: 0.3614 - val_accuracy: 0.8432
Epoch 66/100
156/156 [==============================] - 0s 3ms/step - loss: 0.3466 - accuracy: 0.8372 - val_loss: 0.3647 - val_accuracy: 0.8392
Epoch 67/100
156/156 [==============================] - 0s 3ms/step - loss: 0.3444 - accuracy: 0.8445 - val_loss: 0.3606 - val_accuracy: 0.8441
Epoch 68/100
156/156 [==============================] - 0s 2ms/step - loss: 0.3440 - accuracy: 0.8441 - val_loss: 0.3594 - val_accuracy: 0.8368
Epoch 69/100
156/156 [==============================] - 0s 3ms/step - loss: 0.3445 - accuracy: 0.8396 - val_loss: 0.3643 - val_accuracy: 0.8424
Epoch 70/100
156/156 [==============================] - 0s 3ms/step - loss: 0.3439 - accuracy: 0.8443 - val_loss: 0.3561 - val_accuracy: 0.8416
Epoch 71/100
156/156 [==============================] - 0s 3ms/step - loss: 0.3419 - accuracy: 0.8441 - val_loss: 0.3573 - val_accuracy: 0.8416
Epoch 72/100
156/156 [==============================] - 0s 3ms/step - loss: 0.3403 - accuracy: 0.8465 - val_loss: 0.3621 - val_accuracy: 0.8368
Epoch 73/100
156/156 [==============================] - 0s 3ms/step - loss: 0.3401 - accuracy: 0.8485 - val_loss: 0.3589 - val_accuracy: 0.8432
Epoch 74/100
156/156 [==============================] - 1s 4ms/step - loss: 0.3399 - accuracy: 0.8451 - val_loss: 0.3536 - val_accuracy: 0.8441
Epoch 75/100
156/156 [==============================] - 0s 3ms/step - loss: 0.3382 - accuracy: 0.8445 - val_loss: 0.3538 - val_accuracy: 0.8497
Epoch 76/100
156/156 [==============================] - 0s 3ms/step - loss: 0.3397 - accuracy: 0.8467 - val_loss: 0.3561 - val_accuracy: 0.8505
Epoch 77/100
156/156 [==============================] - 0s 3ms/step - loss: 0.3377 - accuracy: 0.8465 - val_loss: 0.3595 - val_accuracy: 0.8416
Epoch 78/100
156/156 [==============================] - 0s 3ms/step - loss: 0.3366 - accuracy: 0.8457 - val_loss: 0.3564 - val_accuracy: 0.8424
Epoch 79/100
156/156 [==============================] - 0s 3ms/step - loss: 0.3340 - accuracy: 0.8479 - val_loss: 0.3519 - val_accuracy: 0.8465
Epoch 80/100
156/156 [==============================] - 0s 3ms/step - loss: 0.3342 - accuracy: 0.8533 - val_loss: 0.3562 - val_accuracy: 0.8457
Epoch 81/100
156/156 [==============================] - 1s 3ms/step - loss: 0.3330 - accuracy: 0.8499 - val_loss: 0.3552 - val_accuracy: 0.8489
Epoch 82/100
156/156 [==============================] - 0s 3ms/step - loss: 0.3320 - accuracy: 0.8513 - val_loss: 0.3625 - val_accuracy: 0.8449
Epoch 83/100
156/156 [==============================] - 0s 3ms/step - loss: 0.3327 - accuracy: 0.8555 - val_loss: 0.3471 - val_accuracy: 0.8489
Epoch 84/100
156/156 [==============================] - 0s 3ms/step - loss: 0.3311 - accuracy: 0.8511 - val_loss: 0.3474 - val_accuracy: 0.8449
Epoch 85/100
156/156 [==============================] - 0s 3ms/step - loss: 0.3299 - accuracy: 0.8489 - val_loss: 0.3533 - val_accuracy: 0.8521
Epoch 86/100
156/156 [==============================] - 0s 2ms/step - loss: 0.3285 - accuracy: 0.8559 - val_loss: 0.3516 - val_accuracy: 0.8449
Epoch 87/100
156/156 [==============================] - 0s 2ms/step - loss: 0.3271 - accuracy: 0.8569 - val_loss: 0.3409 - val_accuracy: 0.8545
Epoch 88/100
156/156 [==============================] - 0s 2ms/step - loss: 0.3264 - accuracy: 0.8535 - val_loss: 0.3478 - val_accuracy: 0.8481
Epoch 89/100
156/156 [==============================] - 0s 3ms/step - loss: 0.3276 - accuracy: 0.8553 - val_loss: 0.3488 - val_accuracy: 0.8569
Epoch 90/100
156/156 [==============================] - 0s 2ms/step - loss: 0.3277 - accuracy: 0.8543 - val_loss: 0.3519 - val_accuracy: 0.8465
Epoch 91/100
156/156 [==============================] - 0s 3ms/step - loss: 0.3248 - accuracy: 0.8555 - val_loss: 0.3464 - val_accuracy: 0.8593
Epoch 92/100
156/156 [==============================] - 0s 3ms/step - loss: 0.3240 - accuracy: 0.8549 - val_loss: 0.3466 - val_accuracy: 0.8529
Epoch 93/100
156/156 [==============================] - 0s 3ms/step - loss: 0.3253 - accuracy: 0.8549 - val_loss: 0.3398 - val_accuracy: 0.8521
Epoch 94/100
156/156 [==============================] - 0s 3ms/step - loss: 0.3237 - accuracy: 0.8553 - val_loss: 0.3436 - val_accuracy: 0.8545
Epoch 95/100
156/156 [==============================] - 0s 3ms/step - loss: 0.3203 - accuracy: 0.8629 - val_loss: 0.3442 - val_accuracy: 0.8521
Epoch 96/100
156/156 [==============================] - 0s 3ms/step - loss: 0.3214 - accuracy: 0.8573 - val_loss: 0.3482 - val_accuracy: 0.8521
Epoch 97/100
156/156 [==============================] - 0s 3ms/step - loss: 0.3222 - accuracy: 0.8607 - val_loss: 0.3413 - val_accuracy: 0.8545
Epoch 98/100
156/156 [==============================] - 0s 3ms/step - loss: 0.3197 - accuracy: 0.8589 - val_loss: 0.3444 - val_accuracy: 0.8545
Epoch 99/100
156/156 [==============================] - 0s 3ms/step - loss: 0.3181 - accuracy: 0.8593 - val_loss: 0.3388 - val_accuracy: 0.8537
Epoch 100/100
156/156 [==============================] - 0s 3ms/step - loss: 0.3186 - accuracy: 0.8599 - val_loss: 0.3406 - val_accuracy: 0.8529

In [23]:
# K-NN
from sklearn.neighbors import KNeighborsClassifier

# Separate features and target
X = df3.drop('stroke', axis=1)
y = df3['stroke']

# Encoding categorical variables and normalizing numerical features
categorical_cols = X.select_dtypes(include=['object', 'category']).columns
numerical_cols = X.select_dtypes(include=['float64', 'int64']).columns

# One-hot encoding for categorical variables
encoder = OneHotEncoder(sparse=False)
X_encoded = encoder.fit_transform(X[categorical_cols])

# Normalize numerical features
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X[numerical_cols])

# Combine encoded and scaled features
X_processed = np.concatenate([X_scaled, X_encoded], axis=1)

# Handle class imbalance
smote = SMOTE()
X_balanced, y_balanced = smote.fit_resample(X_processed, y)

# Splitting the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X_balanced, y_balanced, test_size=0.2, random_state=42)

# Train the K-NN Model
knn_model = KNeighborsClassifier()
knn_model.fit(X_train, y_train)

# Evaluate the model
y_pred = knn_model.predict(X_test)
print("Classification Report:\n", classification_report(y_test, y_pred))
print("Accuracy Score:", accuracy_score(y_test, y_pred))

Classification Report:
               precision    recall  f1-score   support

           0       0.95      0.82      0.88       776
           1       0.84      0.96      0.90       780

    accuracy                           0.89      1556
   macro avg       0.90      0.89      0.89      1556
weighted avg       0.90      0.89      0.89      1556

Accuracy Score: 0.8901028277634961

/opt/conda/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

# Model Testing

In [24]:
#Test File
test_pd = pd.read_csv('/kaggle/input/stroke-prediction-by-123-of-ai-dec-2023/stroke_test_set_nogt.csv')

# saving in a new variable to modify
test = test_pd.copy(deep=True)

In [25]:
values = {'bmi' : df['bmi'].mean()}
test1 = test.fillna(value=values)
test1

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status
0,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked
1,Male,75.0,1,0,Yes,Private,Urban,221.29,25.8,smokes
2,Female,60.0,0,0,No,Private,Urban,89.22,37.8,never smoked
3,Female,72.0,1,0,Yes,Private,Rural,74.63,23.1,formerly smoked
4,Male,81.0,0,0,Yes,Self-employed,Urban,99.33,33.7,never smoked
...,...,...,...,...,...,...,...,...,...,...
1017,Female,29.0,0,0,Yes,Self-employed,Urban,90.52,28.0,never smoked
1018,Female,51.0,0,0,Yes,Private,Urban,152.56,21.8,Unknown
1019,Male,26.0,0,0,No,Govt_job,Rural,100.85,21.0,smokes
1020,Male,57.0,0,0,Yes,Govt_job,Rural,76.62,28.2,never smoked
1021,Male,82.0,1,0,Yes,Self-employed,Rural,71.97,28.3,never smoked

In [26]:
test2 = pd.get_dummies(data = test1)
test2

,age,hypertension,heart_disease,avg_glucose_level,bmi,gender_Female,gender_Male,ever_married_No,ever_married_Yes,work_type_Govt_job,work_type_Never_worked,work_type_Private,work_type_Self-employed,work_type_children,Residence_type_Rural,Residence_type_Urban,smoking_status_Unknown,smoking_status_formerly smoked,smoking_status_never smoked,smoking_status_smokes
0,80.0,0,1,105.92,32.5,False,True,False,True,False,False,True,False,False,True,False,False,False,True,False
1,75.0,1,0,221.29,25.8,False,True,False,True,False,False,True,False,False,False,True,False,False,False,True
2,60.0,0,0,89.22,37.8,True,False,True,False,False,False,True,False,False,False,True,False,False,True,False
3,72.0,1,0,74.63,23.1,True,False,False,True,False,False,True,False,False,True,False,False,True,False,False
4,81.0,0,0,99.33,33.7,False,True,False,True,False,False,False,True,False,False,True,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1017,29.0,0,0,90.52,28.0,True,False,False,True,False,False,False,True,False,False,True,False,False,True,False
1018,51.0,0,0,152.56,21.8,True,False,False,True,False,False,True,False,False,False,True,True,False,False,False
1019,26.0,0,0,100.85,21.0,False,True,True,False,True,False,False,False,False,True,False,False,False,False,True
1020,57.0,0,0,76.62,28.2,False,True,False,True,True,False,False,False,False,True,False,False,False,True,False
1021,82.0,1,0,71.97,28.3,False,True,False,True,False,False,False,True,False,True,False,False,False,True,False

In [37]:
columns_to_drop = ['Residence_type_Rural','Residence_type_Urban', 'gender_Male', 'gender_Female','ever_married_No']
test3 = test2.drop(columns=columns_to_drop)
test3

,age,hypertension,heart_disease,avg_glucose_level,bmi,ever_married_Yes,work_type_Govt_job,work_type_Never_worked,work_type_Private,work_type_Self-employed,work_type_children,smoking_status_Unknown,smoking_status_formerly smoked,smoking_status_never smoked,smoking_status_smokes
0,80.0,0,1,105.92,32.5,True,False,False,True,False,False,False,False,True,False
1,75.0,1,0,221.29,25.8,True,False,False,True,False,False,False,False,False,True
2,60.0,0,0,89.22,37.8,False,False,False,True,False,False,False,False,True,False
3,72.0,1,0,74.63,23.1,True,False,False,True,False,False,False,True,False,False
4,81.0,0,0,99.33,33.7,True,False,False,False,True,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1017,29.0,0,0,90.52,28.0,True,False,False,False,True,False,False,False,True,False
1018,51.0,0,0,152.56,21.8,True,False,False,True,False,False,True,False,False,False
1019,26.0,0,0,100.85,21.0,False,True,False,False,False,False,False,False,False,True
1020,57.0,0,0,76.62,28.2,True,True,False,False,False,False,False,False,True,False
1021,82.0,1,0,71.97,28.3,True,False,False,False,True,False,False,False,True,False

In [2]:
# Logistic Regression

# Note: Only use transform(), not fit_transform(), on the new data
new_data_processed = scaler.transform(test3)

# Predicting using the logistic regression model
new_predictions = model.predict(new_data_processed)

# Create a DataFrame for the new predictions
new_prediction_df = pd.DataFrame({'ID': test3.index,'stroke': new_predictions})
new_prediction_df.to_csv('LR_output_submission.csv', index=False)

NameError: name 'scaler' is not defined

In [1]:
# Decision Tree
decision_tree = DecisionTreeClassifier(random_state=0)
decision_tree.fit(X_train, y_train)
y_pred_dt = decision_tree.predict(X_test)

submission = pd.DataFrame({'ID': test3.index,'stroke': y_pred})
submission.to_csv('output_submission_eval_DT.csv', index=False)

NameError: name 'DecisionTreeClassifier' is not defined

In [ ]:
#Random Forest

# Encoding categorical variables and normalizing numerical features
categorical_cols = test3.select_dtypes(include=['object', 'category']).columns
numerical_cols = test3.select_dtypes(include=[np.number]).columns

# One-hot encoding for categorical variables
encoder = OneHotEncoder(sparse=False)
new_data_encoded = pd.DataFrame(encoder.fit_transform(test3[categorical_cols]))
new_data_encoded.columns = encoder.get_feature_names_out(categorical_cols)

# Normalize numerical features
scaler = StandardScaler()
new_data_scaled = pd.DataFrame(scaler.fit_transform(test3[numerical_cols]))
new_data_scaled.columns = numerical_cols

# Combine encoded and scaled features
new_data_processed = pd.concat([new_data_scaled, new_data_encoded], axis=1)

# Predicting stroke for the new data
predicted_stroke = rf_model.predict(new_data_processed)

# Create a DataFrame with the predictions
prediction_df = pd.DataFrame({'Predicted_Stroke': predicted_stroke})

submission = pd.DataFrame({'ID': test3.index, 'stroke': predicted_stroke})
submission.to_csv('output_submission_eval_RF.csv', index=False)

In [40]:
# Gradient Boosting Classification (This model gives best results among all this model)

# Encoding categorical variables and normalizing numerical features
categorical_cols = test3.select_dtypes(include=['object', 'category']).columns
numerical_cols = test3.select_dtypes(include=[np.number]).columns

# One-hot encoding for categorical variables
encoder = OneHotEncoder(sparse_output=False)
new_data_encoded = pd.DataFrame(encoder.fit_transform(test3[categorical_cols]))
new_data_encoded.columns = encoder.get_feature_names_out(categorical_cols)

# Normalize numerical features
scaler = StandardScaler()
new_data_scaled = pd.DataFrame(scaler.fit_transform(test3[numerical_cols]))
new_data_scaled.columns = numerical_cols

# Combine encoded and scaled features
new_data_processed = pd.concat([new_data_scaled, new_data_encoded], axis=1)

# Predicting stroke for the new data
predicted_stroke = gbm_model.predict(new_data_processed)

# Create a DataFrame with the predictions and the index from the test data
prediction_df = pd.DataFrame({'ID': test3.index, 'stroke': predicted_stroke})

# Saving the predictions to a new CSV file
prediction_df.to_csv('output_submission_eval_GBC.csv', index=False)

In [ ]:
# Support Vector Machine

# Encoding categorical variables and normalizing numerical features
encoder = OneHotEncoder(sparse_output=False)
new_data_encoded = pd.DataFrame(encoder.fit_transform(test3[categorical_cols]))
new_data_encoded.columns = encoder.get_feature_names_out(categorical_cols)

# Normalize numerical features
scaler = StandardScaler()
new_data_scaled = pd.DataFrame(scaler.fit_transform(test3[numerical_cols]))
new_data_scaled.columns = numerical_cols

# Combine encoded and scaled features
new_data_processed = pd.concat([new_data_scaled, new_data_encoded], axis=1)

# Predicting stroke for the new data
predicted_stroke = svm_model.predict(new_data_processed)

# Create a DataFrame with the predictions and the index from the test data
prediction_df = pd.DataFrame({'ID': test3.index, 'stroke': predicted_stroke})
prediction_df.to_csv('output_submission_eval_SVM.csv', index=False)

In [ ]:
# Neural Network

# Encoding categorical variables and normalizing numerical features
categorical_cols = test3.select_dtypes(include=['object', 'category']).columns
numerical_cols = test3.select_dtypes(include=[np.number]).columns

# One-hot encoding for categorical variables (using fitted encoder)
new_data_encoded = pd.DataFrame(encoder.transform(test3[categorical_cols]))
new_data_encoded.columns = encoder.get_feature_names_out(categorical_cols)

# Normalize numerical features (using fitted scaler)
new_data_scaled = pd.DataFrame(scaler.transform(test3[numerical_cols]))
new_data_scaled.columns = numerical_cols

# Combine encoded and scaled features
new_data_processed = pd.concat([new_data_scaled, new_data_encoded], axis=1)

# Predicting stroke for the new data
predicted_stroke = model.predict(new_data_processed)
predicted_stroke = (predicted_stroke > 0.5).astype(int)  # Convert probabilities to class labels

# Create a DataFrame with the predictions
prediction_df = pd.DataFrame({'ID':test3.index,'stroke': predicted_stroke.flatten()})
prediction_df.to_csv('output_submission_eval_NN.csv', index=False)

In [52]:
# K-NN

# Encoding categorical variables and normalizing numerical features
categorical_data = encoder.transform(test3[categorical_cols])
numerical_data = scaler.transform(test3[numerical_cols])

# Combine encoded and scaled features
new_data_processed = np.concatenate([numerical_data, categorical_data], axis=1)

# Predicting stroke for the new data
predicted_stroke = knn_model.predict(new_data_processed)

# Create a DataFrame with the predictions
prediction_df = pd.DataFrame({'ID': test3.index,'stroke': predicted_stroke})
prediction_df.to_csv('output_submission_eval_KNN.csv', index=False)